.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App input {
  margin: 20px;
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  width: 250px;
}
.santa-img{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
}